:root {
  --oui-font-family: 'Open Sans', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 94 129 162;
  --oui-color-primary-light: 132 155 186;
  --oui-color-primary-darken: 63 93 132;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 132 155 186;
  --oui-color-link-light: 165 183 210;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 233 74 91;
  --oui-color-danger-light: 250 133 143;
  --oui-color-danger-darken: 216 56 78;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 139 34;
  --oui-color-success-light: 85 172 85;
  --oui-color-success-darken: 0 100 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 240 173 78;
  --oui-color-warning-light: 255 205 128;
  --oui-color-warning-darken: 230 126 34;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 33 37 41;
  --oui-color-fill-active: 37 42 45;

  --oui-color-base-1: 53 59 63;
  --oui-color-base-2: 44 50 54;
  --oui-color-base-3: 36 41 45;
  --oui-color-base-4: 29 33 37;
  --oui-color-base-5: 23 27 31;
  --oui-color-base-6: 17 21 25;
  --oui-color-base-7: 64 77 94;
  --oui-color-base-8: 12 15 18;
  --oui-color-base-9: 8 10 13;
  --oui-color-base-10: 4 6 9;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 233 74 91;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 139 34;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 63 93 132;
  --oui-gradient-primary-end: 132 155 186;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 94 129 162;

  --oui-gradient-success-start: 0 100 0;
  --oui-gradient-success-end: 85 172 85;

  --oui-gradient-danger-start: 216 56 78;
  --oui-gradient-danger-end: 233 74 91;

  --oui-gradient-brand-start: 165 183 210;
  --oui-gradient-brand-end: 132 155 186;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 230 126 34;
  --oui-gradient-warning-end: 240 173 78;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}